body{
    background-color: gray;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.adicionar{
    text-align: center;
}

.loginazo{
    text-align: center;
    background-color: thistle;
    margin: 5rem;
    padding: 5rem;
    border: 5rem;
}