body{
    background-color: antiquewhite;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.adicionar{
    text-align: center;
}

.formulario{
    text-align: center;
}

.Editar{
    text-align: center;
}

.añadir{
    text-align: center;
}