<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>Login</title>
</head>
<body class="cuerpo">
    <form action="index.html" method="get">
        <h1 class="principal">Inicia Sesion</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <section class="imagen_sesion">
            <img src="../img/logo.png"/ alt="logo">
        </section>
            <section class="iniciar_sesion">
                    <div>
                        <h3>Usuario</h3>
                        <br>
                        <input type="text">
                        <br>
                        <h3>Contraseña</h3>
                        <br>
                        <input type="text">
                        <br>
                        <br>
                        <button type="submit">Iniciar Sesion</button>
                    </div>
            </section>
    </form>
</body>
</html>