<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <title>Agregar Usuario</title>
  </head>
  <body>
    <form method="post" class="añadir">
      <h1>Agregar Usuario</h1>
      <section class="Adicionar">
        <label>Nombre:</label>
        <input type="text" name="nombre" required />
        <br>
        <br>
        <label>Email:</label>
        <input type="email" name="email" required />
        <br>
        <br>
        <label>Edad:</label>
        <input type="number" name="edad" required />
        <br>
        <br>
        <button type="submit">Agregar</button>
        <br>
        <br>
    <br>
    <br>
    <a href="{{ url_for('index') }}">Volver a la lista</a>
      </section>
    </form> 

  </body>
</html>
